/* *,
*::after,
*::before { */
/* box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: linear-gradient(
    to left,
    hsl(200, 100%, 50%),
    hsl(175, 100%, 50%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.clock {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -60%);
  border-radius: 50%;
}
.clock .number {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
/* text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
  font-weight: bold;
}
.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 40%;
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  transform: translate(-50%) rotate(var(--rotayion) * 1deg);
}
.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
} */
*{
  font-family:Arial, Helvetica, sans-serif;
}
.clock-dial {
  width: 500px;
  height: 500px;
  border: 20px solid #00818a;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.point {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 240px;
}
.hour {
  font-size: 30px;
  font-weight: bold;
  color: #283149;
  position: absolute;
}
.hour-1 {
  top: 40px;
  right: 130px;
}
.hour-2 {
  top: 125px;
  right: 45px;
}
.hour-3 {
  top: 235px;
  right: 10px;
}
.hour-4 {
  top: 345px;
  right: 45px;
}
.hour-5 {
  top: 430px;
  right: 130px;
}
.hour-6 {
  bottom: 10px;
  right: 240px;
}
.hour-7 {
  top: 430px;
  left: 130px;
}
.hour-8 {
  top: 345px;
  left: 45px;
}
.hour-9 {
  top: 235px;
  left: 10px;
}
.hour-10 {
  top: 135px;
  left: 45px;
}
.hour-11 {
  top: 40px;
  left: 130px;
}
.hour-12 {
  top: 10px;
  left: 235px;
}
.brand {
  font-size: 20px;
  font-weight: bold;
  color: #00818a;
  position: absolute;
  top: 90px;
  left: 42.5%;
}
.minute-hand-wrapper {
  width: 400px;
  height: 400px;
  /* background-color: #123456; */
  position: absolute;
  top: 55px;
  left: 50px;
  border-radius: 50%;
}
.minute-hand {
  position: relative;
}
.minute-hand .hand {
  width: 4px;
  height: 200px;
  background-color: #404b69;
  position: absolute;
  left: 198px;
}
.minute-hand .arrow {
  font-size: 30px;
  font-weight: bold;
  color: #404b69;
  transform: rotate(180deg);
  position: absolute;
  left: 191px;
  top: -12px;
}

.hour-hand-wrapper {
  width: 300px;
  height: 300px;
  /* background-color: #123456; */
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
.hour-hand {
  position: relative;
}

.hour-hand .hand {
  width: 4px;
  height: 150px;
  background-color: #404b69;
  position: absolute;
  left: 148px;
}

.hour-hand .arrow {
  font-size: 30px;
  font-weight: bold;
  color: #404b69;
  transform: rotate(180deg);
  position: absolute;
  left: 140px;
  top: -12px;
}

.second-hand-wrapper {
  width: 350px;
  height: 350px;
  /* background-color: #123456; */
  position: absolute;
  top: 75px;
  left: 75px;
  border-radius: 50%;
}
.second-hand {
  position: relative;
}

.second-hand .hand {
  width: 2px;
  height: 175px;
  background-color: #404b69;
  position: absolute;
  left: 174px;
}